.formWrapper {
  padding: 24px;
  display: flex;
  gap: 24px;
  align-items: center;
  @media (max-width: 992px) {
    flex-direction: column;
    padding: 16px;
  }
  .col1 {
    width: 50%;
    position: relative;
    border-radius: 16px;
    overflow: hidden;
    height: calc(100vh - 48px);
    padding: 24px;
    position: sticky;
    top: 24px;
    @media (max-width: 992px) {
      width: 100%;
      height: auto;
      padding: 0;
      position: relative;
      top: unset;
    }
    > img {
      object-fit: cover;
      z-index: 1;
      @media (max-width: 992px) {
        display: none;
      }
    }
    .head {
      width: 100%;
      position: relative;
      z-index: 2;
      display: flex;
      align-items: center;
      justify-content: space-between;
      a {
        display: flex;
        gap: 8px;
        align-items: center;
        color: #fff;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        border-radius: 16px;
        background: rgba(255, 255, 255, 0.15);
        backdrop-filter: blur(4px);
        padding: 8px 16px;
      }
    }
  }
  .col2 {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    @media (max-width: 992px) {
      width: 100%;
    }
    h1 {
      color: #fff;
      text-align: center;
      font-size: 48px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      @media (max-width: 992px) {
        font-size: 32px;
      }
    }
    p {
      text-align: center;
    }
    form {
      display: flex;
      flex-direction: column;
      gap: 24px;
      max-width: 670px;
      width: 100%;
      @media (max-width: 1600px) {
        max-width: 556px;
      }
      @media (max-width: 992px) {
        max-width: 100%;
      }

      .formGroup {
        position: relative;
        > div {
          display: flex;
          justify-content: space-between;
          margin-bottom: 12px;
          position: relative;
          label {
            color: #fff;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
          }
          a {
            color: #fff;
            text-align: right;
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            text-decoration-line: underline;
            text-decoration-style: solid;
            text-decoration-skip-ink: auto;
            text-decoration-thickness: auto;
            text-underline-offset: auto;
            text-underline-position: from-font;
          }
        }
        input {
          width: 100%;
          color: #fff;
          font-size: 16px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
          padding: 16px;
          border-radius: 16px;
          border: 1px solid rgba(255, 255, 255, 0.05);
          background: rgba(255, 255, 255, 0.03);
          backdrop-filter: blur(5px);
          font-family: var(--font-urbanist);
          &:placeholder {
            color: rgba(255, 255, 255, 0.25);
          }
          &:focus {
            background: rgba(255, 255, 255, 0.08);
          }
          &.invalid {
            border-color: #ff4646;
          }
        }

        button {
          position: absolute;
          right: 16px;
          top: 50%;
          transform: translateY(-50%);
          background: transparent;
          border: none;
          padding: 0;
        }
        .error {
          color: #ff4646;
          font-size: 12px;
          font-style: italic;
          font-weight: 500;
          line-height: normal;
          position: absolute;
          left: 0;
          bottom: -12px;
        }
      }

      button {
        color: #0c0b0e;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        display: flex;
        padding: 16px;
        justify-content: center;
        align-items: center;
        gap: 8px;
        border-radius: 16px;
        background: #fff;
      }
      .signUpText {
        color: #808080;
        text-align: center;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        a {
          color: #09f;
        }
      }
    }
  }
}
