.addToWishlistButton{
  background: none;
  border: none;
  cursor: pointer;
  &.inWishlist {
    svg {
      path {
        fill: #fff;
      }
    }
  }
  svg {
    width: 24px;
    height: 24px;
  }
}