.modellingContact {
  position: relative;
  padding: 164px 0 402px 0;
  overflow: hidden;
  background: linear-gradient(180deg, rgba(12, 11, 14, 0) 0%, #09f 100%),
    url("/images/square-bg.svg") no-repeat center center / cover;
  margin-bottom: -260px;
  &:after {
    content: "";
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 480px;
    background-image: url("/images/modelling/bottom.webp");
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
  }
  @media (max-width: 992px) {
    padding: 64px 0 1076px 0;
    margin-bottom: -878px;
  }
  > img {
    position: absolute;
    right: 0;
    bottom: 230px;
    z-index: 1;
    @media (max-width: 992px) {
      width: 190px;
      height: 257px;
      bottom: 450px;
      opacity: 0.3;
    }
  }
  .body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    position: relative;
    z-index: 2;
    h2 {
      text-align: center;
      @media (max-width: 992px) {
        br {
          display: none;
        }
      }
    }
    p {
      //margin-bottom: 24px;
      @media (max-width: 992px) {
        br {
          display: none;
        }
      }
    }
  }
}
