.testimonialsSection {
  position: relative;
  padding: 164px 0;
  overflow: hidden;
  @media (max-width: 992px) {
    padding: 64px 0;
  }
  .body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 96px;
    .testimonialsWrap {
      position: relative;
      display: flex;
      gap: 32px;
      height: 655px;
      overflow: hidden;
      @media (max-width: 992px) {
        display: none;
      }
      &::before {
        content: "";
        position: absolute;
        z-index: 2;
        top: 0;
        left: 0;
        width: 100%;
        height: 230px;
        background: linear-gradient(0, rgba(11, 11, 14, 0) 0%, #0b0b0e 100%);
      }
      &::after {
        content: "";
        position: absolute;
        z-index: 2;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 230px;
        background: linear-gradient(
          180deg,
          rgba(11, 11, 14, 0) 0%,
          #0b0b0e 100%
        );
      }
    }
    .mobileTestimonials {
      display: none;
      position: relative;

      gap: 32px;
      overflow: hidden;
      @media (max-width: 992px) {
        display: flex;
        height: 655px;
      }
      &::before {
        content: "";
        position: absolute;
        z-index: 2;
        top: 0;
        left: 0;
        width: 100%;
        height: 230px;
        background: linear-gradient(0, rgba(11, 11, 14, 0) 0%, #0b0b0e 100%);
      }
      &::after {
        content: "";
        position: absolute;
        z-index: 2;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 230px;
        background: linear-gradient(
          180deg,
          rgba(11, 11, 14, 0) 0%,
          #0b0b0e 100%
        );
      }
    }
  }
}
