@use "@/styles/mixin.scss" as *;

.productHero {
  margin: 82px 0 rem(80) 0;
  .container {
    padding: 0 rem(40);
    position: relative;
    @media (max-width: rem(992)) {
      padding: 0 rem(16);
    }
  }
  .body {
    display: flex;
    align-items: flex-start;
    gap: 96px;
    @media (max-width: rem(992)) {
      flex-direction: column-reverse;
      gap: 32px;
    }
    .col1 {
      width: 50%;
      display: flex;
      flex-direction: column;
      gap: 48px;
      @media (max-width: rem(992)) {
        width: 100%;
        gap: 24px;
      }
      img {
        object-fit: cover;
        width: 100%;
        border-radius: 24px;
        @media (max-width: 1600px) {
          width: 572px !important;
          height: 572px !important;
        }
        @media (max-width: rem(992)) {
          display: none;
        }
      }
      .block {
        display: flex;
        flex-direction: column;
        gap: 32px;
        padding-bottom: 48px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.15);
        @media (max-width: rem(992)) {
          padding-bottom: 24px;
        }
        &:last-child {
          padding-bottom: 0;
          border-bottom: none;
        }
        h3 {
          color: #fff;
          font-size: 32px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
        }
        .factors {
          display: flex;
          flex-wrap: wrap;
          gap: 16px;
          .factor {
            width: calc(50% - 8px);
            border-radius: 16px;
            background: rgba(255, 255, 255, 0.03);
            padding: 16px;
            color: #808080;
            text-align: center;
            font-size: 15px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
          }
        }
        .bestPractice {
          display: flex;
          flex-direction: column;
          gap: 32px;
          @media (max-width: rem(992)) {
            gap: 24px;
          }
          .item {
            border-radius: 24px;
            overflow: hidden;
            display: flex;
            align-items: stretch;
            background: #131316;
            @media (max-width: rem(992)) {
              flex-direction: column;
            }
            .content {
              padding: 24px;
              display: flex;
              flex-direction: column;
              gap: 16px;
              width: 50%;
              @media (max-width: rem(992)) {
                width: 100%;
              }
              h4 {
                color: #fff;
                font-size: 24px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
              }
              ul {
                list-style-type: disc;
                padding-left: 18px;
                li {
                  list-style-type: disc;
                  color: #808080;
                  font-size: 16px;
                  font-style: normal;
                  font-weight: 400;
                  line-height: normal;
                }
              }
            }
            .image {
              width: 50%;
              position: relative;
              @media (max-width: rem(992)) {
                width: 100%;
                height: 180px;
              }
              &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: linear-gradient(
                  90deg,
                  #131316 10%,
                  rgba(19, 19, 22, 0) 100%
                );
                z-index: 2;
                @media (max-width: rem(992)) {
                  background: linear-gradient(
                    180deg,
                    #131316 10%,
                    rgba(19, 19, 22, 0) 100%
                  );
                }
              }
              img {
                object-fit: cover;
                width: 100% !important;
                height: 100% !important;
                border-radius: 0;
                z-index: 1;
                @media (max-width: rem(992)) {
                  display: block;
                }
              }
            }
          }
        }
        .buttons {
          display: flex;
          align-items: center;
          gap: 16px;
          @media (max-width: rem(992)) {
          }
          svg {
            display: none;
          }
          button {
            width: 152px;
            @media (max-width: rem(992)) {
              width: calc(50% - 8px);
            }
          }
          a {
            width: 201px;
            border-radius: 16px;
            border: 1px solid rgba(255, 255, 255, 0.05);
            background: rgba(255, 255, 255, 0.05);
            color: #fff;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            @media (max-width: rem(992)) {
              width: calc(50% - 8px);
            }
          }
        }
      }
    }
    .col2 {
      display: flex;
      flex-direction: column;
      gap: 16px;
      width: 50%;
      position: sticky;
      top: 85px;
      @media (max-width: rem(1600)) {
        gap: 12px;
      }
      @media (max-width: rem(992)) {
        width: 100%;
        position: relative;
        top: unset;
      }
      > img {
        display: none;
        @media (max-width: rem(992)) {
          display: block;
          width: 100% !important;
          height: 358px !important;
        }
      }
      h1 {
        color: #fff;
        font-size: 48px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        @media (max-width: rem(992)) {
          font-size: 32px;
        }
      }
      p {
      }
      .price {
        color: #fff;
        font-size: 48px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        display: block;
        margin: 16px 0 0 0;
        @media (max-width: rem(1600)) {
          margin-top: 10px;
        }
      }
      .details {
        display: flex;
        flex-direction: column;
        gap: rem(16);
        margin: 16px 0 0 0;
        @media (max-width: rem(1600)) {
          margin-top: 10px;
        }
        h4 {
          display: flex;
          align-items: center;
          gap: rem(8);
          color: #fff;
          font-size: 18px;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
        }
        .files {
          display: flex;
          align-items: center;
          gap: 24px;
          span {
            border-radius: 16px;
            background: rgba(255, 255, 255, 0.05);
            display: flex;
            align-items: center;
            gap: 8px;
            padding: 12px;
            color: #808080;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            img {
              width: 24px;
              height: 24px;
            }
          }
        }
      }
      .addToCart {
        display: flex;
        align-items: center;
        gap: 16px;
        padding-top: 32px;
        margin-top: 16px;
        border-top: 1px solid rgba(255, 255, 255, 0.15);
        @media (max-width: rem(1600)) {
          margin-top: 10px;
          padding-top: 20px;
        }
        @media (max-width: rem(992)) {
        }
        button {
          height: 51px;
          &:first-child {
            width: 172px;
          }
          &:last-child {
            height: 51px;
            width: 51px;
            padding: 0;
            border-radius: 16px;
            border: 1px solid rgba(255, 255, 255, 0.05);
            background: rgba(255, 255, 255, 0.05);
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }
      }
    }
  }
}
