@use "@/styles/mixin.scss" as *;

.articleWrap {
  margin: rem(50) 0 rem(150) 0;
  @media (max-width: rem(992)) {
    margin-bottom: rem(100);
  }
  .body {
    display: flex;
    align-items: flex-start;
    gap: 48px;
    @media (max-width: rem(992)) {
      flex-direction: column;
      gap: 24px;
    }
    .nav {
      width: 180px;
      position: sticky;
      top: 100px;
      @media (max-width: rem(992)) {
        width: 100%;
        position: relative;
        top: unset;
      }
      h2 {
        color: #fff;
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        margin-bottom: 48px;
      }
      .list {
        display: flex;
        flex-direction: column;
        gap: 24px;
        li {
          &.active {
            a {
              position: relative;
              color: #fff;
              padding-left: 14px;
              &:before {
                content: "";
                width: 6px;
                height: 6px;
                background: #fff;
                border-radius: 50%;
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
              }
            }
          }
          a {
            color: #808080;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
          }
        }
      }
    }
    .content {
      width: calc(100% - 228px);
      @media (max-width: rem(992)) {
        width: 100%;
      }
      a {
        color: #09f;
        font-weight: 700;
      }
      h1 {
        color: #fff;
        font-size: 64px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        @media (max-width: rem(992)) {
          font-size: 48px;
        }
      }
      h2 {
        color: #fff;
        font-family: Urbanist;
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin: 24px 0;
        @media (max-width: rem(992)) {
          //font-size: rem(24);
        }
        &:first-child {
          margin-top: rem(0);
        }
      }
      h3 {
        color: #808080;
        margin: 24px 0;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
      }
      p {
        font-size: 16px;
        font-weight: 200;
        line-height: 1.4;
        text-align: left;
        margin-bottom: rem(16);
        color: #808080;
        @media (max-width: rem(992)) {
          font-size: rem(16);
        }
      }
      ul {
        margin-bottom: 24px;
        list-style-type: disc;
        padding-left: rem(20);
        &:last-child {
          list-style-type: none;
          padding-left: 0;
          li {
            list-style: none;
            position: relative;
            display: flex;
            align-items: center;
            gap: 16px;
            &:first-child {
              &:before {
                background: url("/images/mail.svg") no-repeat center center;
              }
            }
            &:nth-child(2) {
              &:before {
                background: url("/images/phone.svg") no-repeat center center;
              }
            }
            &:nth-child(3) {
              &:before {
                background: url("/images/world.svg") no-repeat center center;
              }
            }
            &:before {
              content: "";
              width: 19px;
              height: 19px;
              background-size: contain;
            }
            a {
              color: #fff;
              font-weight: 400;
            }
          }
        }
        li {
          list-style: disc;
          font-size: 16px;
          font-weight: 200;
          line-height: 1.4;
          text-align: left;
          color: #808080;
        }
      }
      ol {
        margin-bottom: 24px;
        padding-left: rem(16);
        li {
          font-size: rem(18);
          font-weight: 200;
          line-height: 1.4;
          text-align: left;
          color: #808080;
        }
      }
      .buttons {
        display: flex;
        align-items: center;
        gap: rem(20);
        margin-top: rem(24);
        @media (max-width: rem(992)) {
          flex-direction: column;
          align-items: flex-start;
        }
        a {
          margin: 0;
          &:first-child {
            color: #362b1a;
            font-size: rem(18);
            font-weight: 200;
            line-height: 1.4;
            text-align: left;
          }
        }
      }
    }
    .sidebar {
      width: rem(260);
      display: flex;
      flex-direction: column;
      gap: rem(20);
      @media (max-width: rem(992)) {
        width: 100%;
      }
      a {
        background: #ffffff;
        padding: rem(12);
        border-radius: rem(16);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        color: #0c0c0c;
        font-size: rem(16);
        font-weight: 500;
        line-height: 1.3;
        text-align: left;

        img {
          width: 100%;
          height: rem(156);
          object-fit: cover;
          border-radius: rem(16);
          margin-bottom: rem(16);
        }
      }
    }
  }
}
