.footer {
  border-top: 1px solid rgba(255, 255, 255, 0.05);
  background: linear-gradient(180deg, rgba(12, 11, 14, 0.5) 0%, #0c0b0e 100%);
  backdrop-filter: blur(12.5px);
  padding: 32px 0;
  a {
    display: flex;
  }
  .body {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 48px;
    @media (max-width: 992px) {
      flex-direction: column;
      gap: 32px;
      align-items: center;
    }
    .col1 {
      display: flex;
      flex-direction: column;
      gap: 16px;
      justify-content: space-between;
      @media (max-width: 992px) {
        align-items: center;
        br {
          display: block;
        }
        p {
          text-align: center;
        }
      }
      .company {
        display: flex;
        flex-direction: column;
        gap: 16px;
        @media (max-width: 992px) {
          align-items: center;
        }
      }
      .addresses {
        display: flex;
        flex-direction: column;
        gap: 12px;
        @media (max-width: 992px) {
          align-items: center;
        }
      }
    }
    .col2 {
      display: flex;
      justify-content: flex-end;
      gap: 48px;
      @media (max-width: 992px) {
        flex-wrap: wrap;
      }
      > div {
        display: flex;
        flex-direction: column;
        gap: 24px;
        @media (max-width: 992px) {
          width: calc(50% - 24px);
          align-items: center;
          flex-grow: 1;
        }
        h3 {
          color: #fff;
          font-size: 18px;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
        }
        nav {
          display: flex;
          flex-direction: column;
          gap: 24px;
          a {
            color: #808080;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            @media (max-width: 992px) {
              text-align: center;
              justify-content: center;
            }
            &:hover {
              color: #fff;
            }
          }
          .soc {
            display: flex;
            gap: 24px;
            a {
              color: #fff;
              svg {
                width: 24px;
                height: 24px;
                path {
                  fill: #808080;
                }
                &:hover {
                  path {
                    fill: #fff;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
