.topGradient {
  position: absolute;
  z-index: 998;
  top: 0;
  left: 0;
  width: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
  background: linear-gradient(180deg, #0c0b0e 0%, rgba(12, 11, 14, 0) 100%);
  backdrop-filter: blur(7.5px);
  height: 134px;
  @media (max-width: 992px) {
    height: 61px;
  }
}
.topHeader {
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(7.5px);
  position: relative;
  z-index: 999;
  padding: 16px 0;
  @media (max-width: 992px) {
    display: none;
  }
  .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
    @media (max-width: 1240px) {
      gap: 24px;
    }
    .contacts {
      display: flex;
      align-items: center;
      gap: 24px;
      @media (max-width: 1240px) {
        gap: 12px;
      }
      a {
        color: #fff;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
    }
    .soc {
      display: flex;
      align-items: center;
      gap: 24px;
      @media (max-width: 1240px) {
        gap: 12px;
      }
      a {
        &:hover {
          path {
            fill: #0099ff;
          }
        }
      }
    }
  }
}
.header {
  background: linear-gradient(180deg, #0c0b0e 0%, rgba(12, 11, 14, 0) 100%);
  backdrop-filter: blur(7.5px);
  padding: 32px 0;
  position: sticky;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 999;
  transition: all 0.5s ease-in-out;
  overflow: hidden;
  @media (max-width: 1100px) {
    padding: 16px 0;
    height: 57px;
  }
  &.scrolling {
    padding: 16px 0;
  }
  &.open {
    height: 100vh;
    overflow-y: auto;
    //display: flex;
    flex-direction: column;
    > div {
      height: 100%;
      flex-grow: 1;
      //display: flex;
      > div {
        //flex-grow: 1;
      }
    }
  }
  .headerWrap {
    display: flex;
    align-items: center;
    gap: 32px;
    @media (max-width: 1240px) {
      gap: 24px;
    }
    @media (max-width: 1100px) {
      justify-content: space-between;
      flex-wrap: wrap;
      row-gap: 0;
    }
    a,
    button {
      display: flex;
    }
    .menuButtonWrap {
      display: none;
      @media (max-width: 1100px) {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 24px;
      }
      svg {
        width: 24px;
        height: 24px;
      }
    }
    .cart {
      position: relative;
      span {
        z-index: 999;
        position: absolute;
        display: block;
        background: #ff4646;
        border: 3px solid #000;
        border-radius: 50%;
        width: 11px;
        height: 11px;
        top: -2px;
        right: -2px;
        &.inCart {
        }
      }
    }

    .row {
      flex-grow: 1;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 30px;
      @media (max-width: 1100px) {
        //opacity: 0;
        pointer-events: none;
        //z-index: -1;
        transition: all 0.5s;
        padding-bottom: 16px;
        transition: all 0.2s ease-in-out;
        flex-grow: unset;
        //height: 0;
        flex-direction: column;
        align-items: center;
        padding: 0;

        .col1 {
          margin-top: 48px;
          ul {
            flex-direction: column;
            gap: 24px;
            li {
              a,
              button {
                color: #fff;
              }
            }
          }
        }
        &.open {
          width: 100%;
          height: 100%;
          gap: 68px;
          pointer-events: auto;
          z-index: 999;
          height: auto;
          .col1 {
            ul {
              gap: 24px;
            }
          }
          .col2 {
          }
        }
      }
      .col1 {
        display: flex;
        align-items: center;
        @media (max-width: 1100px) {
          width: 100%;
        }
        ul {
          display: flex;
          align-items: center;
          gap: 20px;
          @media (max-width: 1240px) {
            gap: 12px;
          }
          @media (max-width: 1100px) {
            width: 100%;
            gap: 24px;
          }
          li {
            position: relative;
            @media (max-width: 1100px) {
              width: 100%;
            }
            &:hover {
              > a,
              button {
                color: #fff !important;
                svg {
                  path {
                    fill: #fff;
                  }
                }
              }
              .subMenu {
                display: none;

                @media (max-width: 1100px) {
                  display: flex;
                }
              }
            }
            a,
            button {
              color: #808080;
              display: flex;
              align-items: center;
              justify-content: center;
              gap: 8px;
              font-size: 16px;
              font-style: normal;
              font-weight: 400;
              line-height: normal;
              @media (max-width: 1100px) {
                width: 100%;
                justify-content: center;
                color: #fff;
                svg {
                  path {
                    fill: #fff;
                  }
                }
              }
              &.active {
                color: #fff;
                svg {
                  path {
                    fill: #fff;
                  }
                }
              }
            }
            .subMenu {
              position: absolute;
              display: none;
              flex-direction: column;
              padding-top: 10px;
              left: 50%;
              transform: translateX(-50%);

              @media (max-width: 1100px) {
                position: relative;
                left: unset;
                transform: unset;
                width: 100%;
              }
              > div {
                border-radius: 16px;
                border: 1px solid rgba(255, 255, 255, 0.05);
                overflow: hidden;
                background: rgba(12, 11, 14, 0.2);
                backdrop-filter: blur(7.5px);
                -webkit-backdrop-filter: blur(7.5px);
                z-index: 999;
                @media (max-width: 1100px) {
                  width: 100%;
                }
                a,
                button {
                  display: flex;
                  padding: 16px 32px;
                  align-items: center;
                  gap: 10px;
                  align-self: stretch;
                  white-space: nowrap;
                  border-bottom: 1px solid rgba(255, 255, 255, 0.05);

                  &:hover {
                    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
                    background: rgba(255, 255, 255, 0.03);
                  }
                  @media (max-width: 1100px) {
                    width: 100%;
                    justify-content: center;
                  }
                }
              }
            }
          }
        }
      }
      .col2 {
        display: flex;
        align-items: center;
        gap: 24px;
        @media (max-width: 1240px) {
          gap: 68px;
        }
        @media (max-width: 992px) {
          width: 100%;
          justify-content: space-between;
          flex-wrap: wrap;
          > a {
            display: none;
          }
        }

        .contacts {
          display: none;
          @media (max-width: 992px) {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: center;
            gap: 24px;
            .soc {
              width: 100%;
              justify-content: center;
              order: 1;
              display: flex;
              gap: 12px;
            }
            > a {
              color: #fff;
              font-size: 16px;
              font-style: normal;
              font-weight: 400;
              line-height: normal;
              &:first-child {
                order: 2;
              }
              &:nth-child(2) {
                order: 3;
              }
            }
          }
        }
      }
    }
  }
}

.subMenuDesktop {
  position: fixed;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
  z-index: 999;
  opacity: 0;
  pointer-events: none;
  transition: all 0.2s ease-in-out;
  margin-top: 20px;
  &.open {
    opacity: 1;
    pointer-events: auto;
    margin-top: 0;
    //display: flex;
  }
  @media (max-width: 1100px) {
    display: none !important;
  }

  @media (max-width: 1100px) {
    position: relative;
    left: unset;
    transform: unset;
    width: 100%;
  }
  > div {
    border-radius: 16px;
    border: 1px solid rgba(255, 255, 255, 0.05);
    overflow: hidden;
    background: rgba(12, 11, 14, 0.05);
    backdrop-filter: blur(7.5px);
    -webkit-backdrop-filter: blur(7.5px);
    z-index: 999;
    @media (max-width: 1100px) {
      width: 100%;
    }
    a {
      display: flex;
      padding: 16px 32px;
      align-items: center;
      gap: 10px;
      align-self: stretch;
      white-space: nowrap;
      border-bottom: 1px solid rgba(255, 255, 255, 0.05);
      color: #fff;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      &:hover {
        border-bottom: 1px solid rgba(255, 255, 255, 0.05);
        background: rgba(255, 255, 255, 0.03);
      }
      @media (max-width: 1100px) {
        width: 100%;
      }
    }
  }
}
