.qaWrapper {
  padding: 165px 0;
  @media (max-width: 992px) {
    padding: 64px 0;
  }
  .body {
    display: flex;
    flex-direction: column;
    gap: 96px;
    @media (max-width: 992px) {
      gap: 48px;
    }
  }
}
