@use "@/styles/mixin.scss" as *;

.hero {
  padding: 165px 0 140px 0;

  .body {
    position: relative;
    z-index: 30;

    h2 {
      text-align: center;
    }

    p {
      text-align: center;
    }

    .links {
      margin: 48px auto 0 auto;
      display: flex;
      @media (max-width: 767px) {
        flex-direction: column;
        align-items: center;
        border: 1px solid #141e27;
        border-radius: 16px;
      }
      .link {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
        width: 33.3333%;
        color: #fff;
        font-family: Urbanist;
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        padding: 32px;
        line-height: normal;
        border-right: 1px solid rgba(255, 255, 255, 0.05);
        background: rgba(0, 0, 0, 0.25);
        backdrop-filter: blur(5px);
        transition: all 0.3s ease 0s;
        &:hover {
          border-right: 1px solid rgba(255, 255, 255, 0.05);
          background: linear-gradient(
            0deg,
            rgba(0, 153, 255, 0.25) 0.4%,
            rgba(0, 0, 0, 0) 100%
          );
          backdrop-filter: blur(5px);
          padding: 32px;
        }
        @media (max-width: 767px) {
          width: 100%;
          border-bottom: 1px solid rgba(255, 255, 255, 0.05);
          background: rgba(0, 0, 0, 0.25);
          backdrop-filter: blur(5px);
          border-radius: 16px 16px 0 0;
        }
      }
    }
  }
}
