@use "@/styles/mixin.scss" as *;

.dashboard {
  margin: rem(80) 0;
  .top {
    display: flex;
    flex-direction: column;
    margin-bottom: rem(48);
    gap: 16px;
    @media (max-width: rem(992)) {
      
    }
    h1 {
      color: #fff;
      font-size: 32px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      @media (max-width: 992px) {
        text-align: center;
      }
    }
    p{
      width: 650px;
      max-width: 100%;
      @media (max-width: 992px) {
        width: 100%;
        text-align: center;
      }
    }
  }
  .body {
    display: flex;
    border-radius: 24px;
    border: 1px solid rgba(255, 255, 255, 0.05);
    background: rgb(24 23 26);
    padding: 24px;
    gap: 24px;
    @media (max-width: rem(992)) {
      flex-direction: column;
      padding: 16px;
    }
    > div {
      flex-grow: 1;
    }
  }
}
