@use "@/styles/mixin.scss" as *;

.orderWrap {
  @media (max-width: 1600px) {
    overflow-x: auto;
  }
  table {
    border-collapse: collapse;
    border: none;
    min-width: 100%;
    @media (max-width: 1600px) {
      width: 956px;
    }
    th {
      text-align: left;
      font-size: rem(16);
      color: #fff;
      padding: rem(16);
      background: #363538;
      border-right: 1px solid rgba(255, 255, 255, 0.05);
      white-space: nowrap;
      &:last-child {
        padding-right: 0;
        border-top-right-radius: rem(16);
        border-bottom-right-radius: rem(16);
        border-right: none;
      }
      &:first-child {
        border-top-left-radius: rem(16);
        border-bottom-left-radius: rem(16);
      }
    }

    tbody {
      tr {
        td {
          white-space: nowrap;
          padding: 12px 0 0 0;
          &:last-child {
            span {
              border-top-right-radius: rem(16);
              border-bottom-right-radius: rem(16);
              border-right: none;
            }
          }
          &:first-child {
            span {
              border-top-left-radius: rem(16);
              border-bottom-left-radius: rem(16);
            }
          }
          &:nth-child(6) {
            span {
              padding: 12px 12px;
            }
          }
          &:nth-child(7) {
            span {
              padding: 14px 12px;
            }
          }
          span {
            display: block;
            padding: 20px 12px;
            font-size: rem(16);
            border-right: 1px solid rgba(255, 255, 255, 0.05);
            background: rgba(255, 255, 255, 0.05);
            color: #808080;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            height: 100%;
            white-space: nowrap;
            > div {
              white-space: nowrap;
              &.pending {
                color: #f99a00;
                text-align: center;
                border-radius: 8px;
                background: rgba(249, 154, 0, 0.15);
                padding: 8px;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
              }
              &.completed {
                color: #00ff80;
                text-align: center;
                border-radius: 8px;
                background: rgba(0, 255, 128, 0.15);
                padding: 8px;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
              }
            }
            a {
              white-space: nowrap;
              border-radius: 8px;
              display: flex;
              align-items: center;
              gap: 12px;
              color: #fff;
              background: rgba(255, 255, 255, 0.05);
              font-size: 16px;
              font-style: normal;
              font-weight: 400;
              line-height: normal;
              height: 31px;
              padding-left: 12px;
              width: 100%;
              .divider {
                height: 31px;
                width: 1px;
                background: rgba(255, 255, 255, 0.05);
              }
              svg {
                margin-right: -10px;
                margin-left: -10px;
              }
            }
          }
        }
      }
    }
  }
}

@keyframes shimmer {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}

.skeletonRow {
  td {
    .skeletonCell {
      height: 20px;
      background: linear-gradient(
        90deg,
        rgba(255, 255, 255, 0.5) 25%,
        #e0e0e0 50%,
        rgba(255, 255, 255, 0.5) 75%
      );
      background-size: 200% 100%;
      animation: shimmer 1.5s infinite;
      border-radius: 4px;
    }
  }
}
