@use "@/styles/mixin.scss" as *;

.orderWrap {
  width: 100%;
  @media (max-width: 1600px) {
    overflow-x: auto;
  }
  &::-webkit-scrollbar {
    background: transparent;
    height: rem(8);
  }

  &::-webkit-scrollbar-track {
    border-radius: 16px;
    background: rgba(255, 255, 255, 0.03);
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 12px;
    background: rgba(255, 255, 255, 0.25);
  }
  table {
    //border-collapse: collapse;
    border: none;
    min-width: 100%;
    border-spacing: 0 12px;
    @media (max-width: 1600px) {
      width: 956px;
    }
    th {
      text-align: left;
      font-size: rem(15);
      color: #fff;
      padding: rem(16);
      background: #363538;
      border-right: 1px solid rgba(255, 255, 255, 0.05);

      @media (max-width: 1600px) {
        white-space: nowrap;
      }
      &:last-child {
        padding-right: 0;
        border-top-right-radius: rem(16);
        border-bottom-right-radius: rem(16);
        border-right: none;
        width: 250px;
      }
      &:nth-child(2) {
        width: 200px;
      }
      &:first-child {
        border-top-left-radius: rem(16);
        border-bottom-left-radius: rem(16);
      }
    }

    tbody {
      tr {
        td {
          padding: 20px 12px;
          font-size: rem(16);
          border-right: 1px solid rgba(255, 255, 255, 0.05);
          background: rgba(255, 255, 255, 0.05);
          @media (max-width: 1600px) {
            white-space: nowrap;
          }
          &:last-child {
            border-top-right-radius: rem(16);
            border-bottom-right-radius: rem(16);
            border-right: none;
          }
          &:first-child {
            border-top-left-radius: rem(16);
            border-bottom-left-radius: rem(16);
          }
          &:nth-child(6) {
            padding: 12px 12px;
          }
          &:nth-child(7) {
            padding: 14px 12px;
          }
          a {
            white-space: nowrap;
            border-radius: 8px;
            display: flex;
            align-items: center;
            gap: 12px;
            color: #fff;
            background: rgba(255, 255, 255, 0.05);
            font-size: 15px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            height: 31px;
            padding-left: 12px;
            width: 127px;
            .divider {
              height: 31px;
              width: 1px;
              background: rgba(255, 255, 255, 0.05);
            }
            svg {
              margin-right: -10px;
              margin-left: -10px;
            }
          }
          span {
            display: block;

            color: #808080;
            font-size: 15px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            height: 100%;
            white-space: nowrap;
            > div {
              white-space: nowrap;
              &.pending {
                color: #f99a00;
                text-align: center;
                border-radius: 8px;
                background: rgba(249, 154, 0, 0.15);
                padding: 8px;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
              }
              &.completed {
                color: #00ff80;
                text-align: center;
                border-radius: 8px;
                background: rgba(0, 255, 128, 0.15);
                padding: 8px;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
              }
            }
          }
        }
      }
    }
  }
}

@keyframes shimmer {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}

.skeletonRow {
  td {
    .skeletonCell {
      height: 20px;
      background: linear-gradient(
        90deg,
        rgba(255, 255, 255, 0.5) 25%,
        #e0e0e0 50%,
        rgba(255, 255, 255, 0.5) 75%
      );
      background-size: 200% 100%;
      animation: shimmer 1.5s infinite;
      border-radius: 4px;
    }
  }
}
