@use "@/styles/mixin.scss" as *;

.hero {
  padding: 165px 0;
  position: relative;
  overflow: hidden;
  @media (max-width: 1200px) {
    padding: 50px 0;
  }
  .body {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
    position: relative;
    z-index: 4;
    margin: 0 auto;

    h1 {
      text-align: center;
    }

    p {
      max-width: 800px;
      margin: 0 auto;
      text-align: center;
    }

    h4 {
      color: #fff;
      text-align: center;
      font-family: Urbanist;
      @include adaptiv-value("font-size", 32, 24, 1);
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }
    .cards {
      margin: 48px 0 0 0;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      gap: 24px;

      .card {
        height: 600px;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 100%;
        display: flex;
        flex-direction: column;
        border-radius: 24px;
        &:nth-child(1) {
          background-image: url("/images/about/ethan.webp");
        }
        &:nth-child(2) {
          background-image: url("/images/about/maya.webp");
        }
        &:nth-child(3) {
          background-image: url("/images/about/jules.webp");
        }
        &:nth-child(4) {
          background-image: url("/images/about/leo.webp");
        }
      }

      .info {
        padding: 16px;
        margin-top: auto;
        border-radius: 24px 24px 0px 0px;
        border: 1px solid rgba(255, 255, 255, 0.05);
        background: rgba(43, 43, 43, 0.15);
        backdrop-filter: blur(7.5px);
      }

      .top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 16px;
        .name {
          color: #fff;
          font-family: Urbanist;
          font-size: 24px;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
        }

        .status {
          color: #fff;
          font-family: Urbanist;
          font-size: 16px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;

          border-radius: 24px;
          border: 1px solid #09f;
          background: rgba(0, 153, 255, 0.6);
          box-shadow: 0px 0px 25px 0px rgba(0, 153, 255, 0.6);
          padding: 4px 12px;
        }
      }

      .job {
        margin: 10px 0 0 0;
        color: #fff;
        font-family: Urbanist;
        font-size: 16px;
        font-style: italic;
        font-weight: 500;
        line-height: normal;
      }

      .text {
        margin: 10px 0 0 0;
        color: rgba(255, 255, 255, 0.6);
        font-family: Urbanist;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
      }
    }
  }
}
