@use "@/styles/mixin.scss" as *;

.thanksPopup {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  background: rgba(11, 11, 14, 0.9);
  backdrop-filter: blur(5px);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease-in-out;
  &.popupOpened {
    opacity: 1;
    pointer-events: all;
    .popupWrap {
      .popupInner {
        transform: scale(1);
      }
    }
  }
  .popupWrap {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;

    .popupInner {
      display: flex;
      flex-direction: column;
      gap: 24px;
      align-items: center;
      width: 100%;
      h2 {
        color: #fff;
        text-align: center;
        margin-bottom: 24px;
        font-size: 48px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;

        @media (max-width: rem(992)) {
          font-size: 32px;
          br {
            display: none;
          }
        }
      }
    }
  }
}
