@use "@/styles/mixin.scss" as *;

.hero {
  padding: 250px 0;
  position: relative;
  overflow: hidden;
  min-height: 100vh;
  @media (max-width: 1200px) {
    padding-bottom: 0;
    padding-top: 130px;
  }
  &:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 382px;
    z-index: 3;
    background: linear-gradient(180deg, rgba(11, 11, 14, 0) 0%, #0b0b0e 100%);
  }
  .body {
    max-width: 50%;
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: flex-start;
    position: relative;
    z-index: 4;
    @media (max-width: 1600px) {
      max-width: 64%;
    }
    @media (max-width: 1200px) {
      max-width: 100%;
      margin-bottom: 80px;
    }
  }
  .imagesWrap {
    position: absolute;
    right: -5%;
    top: 0;
    height: 100%;
    width: 55%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    @media (max-width: 1600px) {
      width: 70%;
      right: -32%;
    }
    @media (max-width: 1200px) {
      display: none;
    }
    img {
      position: absolute;
      transition: all 0.5s;
      &:first-child {
        z-index: 1;
        @media (max-width: 1200px) {
          position: relative;
          height: auto !important;
        }
      }
      &:nth-child(2) {
        z-index: 0;
        left: 0;
        top: 140px;
        @media (max-width: 1200px) {
          top: 0;
          width: 172px;
        }
      }
      &:nth-child(3) {
        z-index: 1;
        left: 30%;
        transform: translateX(-50%);
        bottom: 250px;
        @media (max-width: 1600px) {
          left: 10%;
        }
      }
    }
  }
  .imagesWrapMob{
    display: none;
    @media (max-width: 1200px) {
        display: block;
        img{
            width: 100%;
        }
    }
  }
}
